[submodule "influxdb-cpp"]
	path = influxdb-cpp
	url = https://github.com/orca-zhang/influxdb-cpp
[submodule "accesstsn_demoapps_common"]
	path = accesstsn_demoapps_common
	url = https://git.isw.uni-stuttgart.de/projekte/forschung/2018_AIF_AccessTSN/accesstsn_demoapps/accesstsn_demoapps_common.git
